<!-- <h2>Order ID: <%= @order["id"] %></h2>
<h4>User ID: <%= @order["user_id"] %></h4>
<h4>Product ID: <%= @order["product_id"] %></h4>
<h4>Quantity: <%= @order["quantity"] %></h4> -->

<h1>Orders Show</h1>
<h1>Order #45700<%= @order['id'] %> </h1>
<h2>Customer: <%= @order['user']['email'] %></h2>
<h6>Purchased On: <%= @order['purchased_on'] %></h6>
<h2>Product Name: <%= @order['product']['name'] %></h2>

<img src="<%= @order['product']['images'][0]['url'] %>">

<h2> Quantity: <%= @order['quantity']%></h2>
<h2>Price: <%= @order['product']['formatted']['price'] %> </h2>
<h2>Subtotal: <%= @order['formatted']['subtotal'] %></h2>
<h2>Tax: <%= @order['formatted']['tax'] %></h2>
<h2>Total: <%= @order['formatted']['total'] %></h2>